<div id='messages'>
    <div ng-repeat="message in messages">
        <div ng-switch on="message.type">
            <div ng-switch-when='userMessage'>{{message.sender}}: {{message.content}}</div>
            <div ng-switch-when='systemMessage'>{{message.content}}</div>
            <div ng-switch-when="image">{{message.sender}}: <image ng-src="{{message.content}}" /></div>
            <div ng-switch-when="spotifyTrack">
                {{message.sender}}: <iframe ng-src="https://embed.spotify.com/?uri=spotify:track:{{message.content}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div ng-switch-default>
                watman
            </div>
        </div>
    </div>
</div>
<form ng-submit="submit()" class="input-line">
    <div class="prompt">[#{{channels.current}}]</div>
    <div><input class="cmdline" autofocus ng-model='userInput' ng-focus /></div>
</form>